[
    {
        "depart_date":"2018-01-16",
        "from_station":"成都东",
        "to_station":"恩施",
        "train_no":"D2244",
        "passengers": [
            {"name":"姓名", "ticket_type":"成人", "id":"身份证号码", "phone_num":"手机号码", "seat_type":"二等座"},
            {"name":"姓名", "ticket_type":"儿童", "id":"xxx", "phone_num":"手机号码", "seat_type":"二等座"},
            {"name":"姓名",   "ticket_type":"成人", "id":"xxx", "phone_num":"手机号码", "seat_type":"一等座"}
        ]
    },
    {
        "depart_date":"2018-02-12",
        "from_station":"成都东",
        "to_station":"恩施",
        "train_no":"D2244",
        "passengers": [
            {"name":"姓名", "ticket_type":"成人", "id":"身份证号码", "phone_num":"手机号码", "seat_type":"二等座"},
            {"name":"姓名", "ticket_type":"儿童", "id":"xxx", "phone_num":"手机号码", "seat_type":"二等座"},
            {"name":"姓名",   "ticket_type":"成人", "id":"xxx", "phone_num":"手机号码", "seat_type":"一等座"}
        ]
    }
]
